[Desktop Entry]
Version=0.2
Type=Application
Name=Hash Verifier
Comment=Verify file hashes
Exec=hashverifier
Icon=io.github.iiroan.hash_verifier
Categories=Security;Utility;
Terminal=false
StartupNotify=true
