[Desktop Entry]
Version=0.1.7
Type=Application
Name=Hash Verifier
Comment=Verify file hashes
Exec=hashverifier
Icon=io.github.iiroan.hash_verifier
Categories=Utility;Security;
Terminal=false
StartupNotify=true
